<!doctype html>
<html class="no-js" lang="">

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Maths with Ella | GSCE | A-Level | Degree</title>
    <meta name="description" content="Maths tutoring by Ella Kirkpatrick, both in the UK and internationally.">
    <meta name="keywords"
        content="math help, math tutor, online math tutor, math tutor, zoom, math tutoring, math homework help, GCSE, A levels, degree">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="https://mathswithella.co.uk/" />
    <meta property="og:site_name" content="Maths with Ella" />
    <meta property="og:title" content="Maths with Ella" />
    <meta property="og:url" content="https://mathswithella.co.uk/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'img/logo_z0x4jy.webp' %}" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta itemprop="name" content="Maths with Ella" />
    <meta itemprop="url" content="https://mathswithella.co.uk/" />
    <meta itemprop="thumbnailUrl" content="{% static 'img/logo_z0x4jy.webp' %}" />
    <meta name="twitter:title" content="Maths with Ella" />
    <meta name="twitter:image" content="{% static 'img/logo_z0x4jy.webp' %}" />
    <meta name="twitter:url" content="https://mathswithella.co.uk/" />
    <meta name="twitter:card" content="summary" />


    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}">
</head>

<body class="overflow-hidden-x">
    <nav class="navbar-container">
        <div class="navbar-wrapper">
            <div class="navbar">
                <div class="nav-brand">
                    <a href="{% url 'home:index' %}">
                        <img src="{% static 'img/logo.png' %}" alt="Maths with Ella">
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="#">Tutoring</a>
                </div>
                <!-- <div class="dropdown">
                    <button class="dropbtn">Tutoring 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>  -->
                <div class="nav-item">
                    <a class="nav-link" href="#">Online Resources</a>
                </div>
                <!-- <div class="nav-item">
                    <a class="nav-link" href="#">Worksheets</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="#">Test Papers</a>
                </div> -->
                <div class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </nav>
    <section class="container container-first">
        <div class="content-wrapper">
            <div class="main-statement">
                <h1>There’s a better way to prepare.</h1>
                <p>Private Tutoring, Worksheet and Test services available that helps you or your childs Maths performance grow. Maths with Ella has resources to help with any maths needs.</p>
                <div class="button-margin">
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="content-wrapper">
            <div class="proflie-section">
                <div class="dual-content profile-wrapper">
                    <img src="{% static 'img/ella-profile.jpg' %}" />
                </div><div class="dual-content personal-statement">
                    <h1>My name is Ella.</h1>
                    <p>I love maths but I know that not everyone else does! However, I believe everyone can succeed at maths with a little help and the right tutor.</p>
                    <div class="button-margin">
                        <a href="#">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>