
{% extends "question/question.html" %}

{% load static %}

{% block question %}
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col">
                <p>Write {{ question.detail.random_float }} as a percentage.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block question_detail %}
<div class="row justify-content-end mt-5 pt-5">
    <input class="col-2 px-1" type="text" name="their_answer1" id="their_answer1">
</div>
{% endblock %}
