
{% extends "question/question.html" %}

{% load static %}

{% block question %}
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col">
                <p>
                    Write the following numbers in order of size.<br>
                    Start with the smallest number.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block question_detail %}
<div class="row">
    <div class="col-10 offset-1">
        <div class="row">
            {% for number in question.detail.random_floats %}
                <div class="col text-center">{{ number }}</div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row justify-content-end mt-5 pt-5">
    <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
        <div class="row">
            {% for number in question.detail.answer %}
                <input class="col mx-2 px-1" type="text" name="their_answer1" id="their_answer1">
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
