{% extends "base.html" %}

{% load static %}

{% block title %}{% endblock %}

{% block description %}{% endblock %}

{% block stylesheet %}{% endblock %}

{% block javascript %}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'worksheet:index' %}">Worksheet</a></li>
        <li class="breadcrumb-item active" aria-current="page">N1</li>
    </ol>
</nav>
<section class="container-fluid mb-3">
    <div class="row">
        <div class="col-1 offset-1 d-none d-lg-block">
            <nav id="navbar-example3" class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">Questions</a>
                <div class="w-100"></div>
                <nav class="nav nav-pills flex-column justify-content-center">
                    {% for question in questions %}
                        <a class="nav-link" href="#question-{{ question.number }}">{{ question.number }}</a>
                    {% endfor %}
                </nav>
            </nav>
        </div>
        <div class="col-lg-6 col-md-12 offset-lg-1 offset-md-0">
            <section class="container-fluid col border border-dark rounded">
                {% for question in questions %}
                    {% include question.template %}
                {% endfor %}
            </section>
        </div>
        <div class="w-100 d-block d-lg-none"></div>
        <div class="col-lg-2 col-md-12 offset-lg-1 offset-md-0">
            <h4>Marks</h4>
        </div>
    </div>
</section>
<nav aria-label="Page navigation example" class="container-fluid">
    <ul class="pagination justify-content-center">
        {% if pagination.number == 1 %}
        <li class="page-item disabled">
            <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{% url 'worksheet:detail' worksheet_internal_name pagination.number|add:-1 %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for page in pagination.range %}
        {% if pagination.page == pagination.number %}
        <li class="page-item active"><a class="page-link" href="{% url 'worksheet:detail' worksheet_internal_name page %}">{{ page }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="{% url 'worksheet:detail' worksheet_internal_name page %}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
        {% if pagination.number == pagination.count %}
        <li class="page-item disabled">
            <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{% url 'worksheet:detail' worksheet_internal_name pagination.number|add:1 %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}