<!doctype html>
<html class="no-js" lang="">

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{% block title %}Maths with Ella | GSCE | A-Level | Degree{% endblock %}</title>
    <meta name="description" content="Maths tutoring by Ella Kirkpatrick, both in the UK and internationally.">
    <meta name="keywords"
        content="math help, math tutor, online math tutor, math tutor, zoom, math tutoring, math homework help, GCSE, A levels, degree">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="https://mathswithella.co.uk/" />
    <meta property="og:site_name" content="Maths with Ella" />
    <meta property="og:title" content="Maths with Ella" />
    <meta property="og:url" content="https://mathswithella.co.uk/" />
    <meta property="og:type" content="website" />
    <meta property="og:image"
        content="https://res.cloudinary.com/akreative/image/upload/c_scale,f_auto,h_500,q_auto,w_500/v1604226577/logo_z0x4jy.svg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta itemprop="name" content="Maths with Ella" />
    <meta itemprop="url" content="https://mathswithella.co.uk/" />
    <meta itemprop="thumbnailUrl"
        content="https://res.cloudinary.com/akreative/image/upload/c_scale,f_auto,h_400,q_auto,w_400/v1604226577/logo_z0x4jy.webp" />
    <meta name="twitter:title" content="Maths with Ella" />
    <meta name="twitter:image"
        content="https://res.cloudinary.com/akreative/image/upload/c_scale,f_auto,h_400,q_auto,w_400/v1604226577/logo_z0x4jy.webp" />
    <meta name="twitter:url" content="https://mathswithella.co.uk/" />
    <meta name="twitter:card" content="summary" />


    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="theme-color" content="#ffffff">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block stylesheet %}{% endblock  %}

    {% block javascript %}{% endblock  %}

    <meta name="theme-color" content="#fafafa">
</head>

<body class="has-sidemenu overflow-hidden-x">

    <nav class="navbar navbar-expand-lg bg-red  font-weight-bold">
        <div class="container-fluid">
            <a class="navbar-brand" href="#home">
                <img data-src="https://res.cloudinary.com/akreative/image/upload/c_scale,f_auto,q_auto,w_200/v1604226577/logo_z0x4jy.svg"
                    class="cld-responsive img-fluid" alt="image" width="50" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bolder link-light" aria-current="page" href="#about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bolder link-light" aria-current="page" href="#prices">PRICES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bolder link-light" aria-current="page"
                            href="#tutoring">TUTORING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bolder link-light" href="#">LINKS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bolder link-light" href="#faq">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <script type="5431c16ba2896f943e282d75-text/javascript"><!--/* Generated by www.email-encoder.com */
        for(var fcryfo=["ZQ","bw","bA","Yw","bA","QQ","TA","bQ","ZQ","ZQ","Pg","bA","aQ","bg","YQ","cw","aw","YQ","Yg","Og","Yw","bg","bQ","ZQ","aQ","YQ","PQ","Ig","Ig","bw","dw","dg","bA","QA","dA","TQ","YQ","LQ","LQ","PQ","aw","aw","Yw","Zw","bA","aQ","IA","aQ","bA","ZA","IA","cw","bg","SQ","bA","bw","Pg","aw","Zw","bg","cA","aA","cg","IA","LQ","aQ","RQ","Lg","LQ","bA","dA","bA","aQ","Zg","dA","PA","cg","YQ","IA","bw","Ig","YQ","aA","cg","aw","Zg","dA","aA","YQ","cg","ZQ","Lw","bA","PA","dA","Ig","YQ","aQ"],kddkrj=[74,38,22,42,17,91,93,39,16,21,97,82,54,60,30,46,80,19,70,15,37,49,9,5,11,1,47,8,87,71,63,51,53,20,68,90,24,69,52,7,35,28,34,66,72,65,76,33,18,73,57,45,55,92,77,14,88,25,84,79,29,3,27,41,62,26,89,36,81,12,61,43,78,6,31,94,32,50,2,59,40,44,67,75,56,58,13,85,96,4,64,95,23,0,86,48,10,83],venpnu=new Array,i=0;i<kddkrj.length;i++)venpnu[kddkrj[i]]=fcryfo[i];for(var i=0;i<venpnu.length;i++)document.write(atob(venpnu[i]+"=="));
        // --></script><noscript>Please enable JavaScript to see the email address (<a
                                href="https://www.email-encoder.com/enablejs/" target="_blank"
                                rel="noopener noreferrer">How-to</a>).</noscript>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item float-right" style="background-color: white; padding: 2px;">
                        <a href="https://www.facebook.com/mathswithella" class="link-light">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z" />
                                </svg></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <main class="main" id="top">
        {% block content %}{% endblock %}
    </main>


    <section id="contact" class="bg-red">
        <div class="container-fluid ">
            <div class="row pb-5 ">
                <h3 class="display-2 font-weight-bolder text-center text-white pt-4  my-5">
                    Get in Touch
                </h3>
                <div class="col-6 offset-3">
                    <p class="font-weight-bold text-white">If you have any questions about working together, availabilty
                        or building a learning strategy, then please email me at
                        <script type="5431c16ba2896f943e282d75-text/javascript"><!--/* Generated by www.email-encoder.com */
        for(var nkkvwf=["bA","Lg","YQ","bw","PQ","IA","aQ","Lg","aA","PQ","Yw","Zg","Lw","YQ","bw","YQ","aw","Ig","aQ","ZQ","dw","cg","YQ","aw","cw","Zw","dA","dA","Ig","Yw","cw","bw","aw","dA","aQ","LQ","aw","bw","cg","bA","Yw","cg","QA","ZA","YQ","bA","IA","ZQ","bQ","cA","aw","PA","YQ","aQ","aA","bA","Ig","bA","ZQ","dA","LQ","ZQ","dA","aQ","Ig","ZQ","cg","bw","ZQ","Pg","bA","cA","bg","Yg","Yw","aw","YQ","aQ","bA","Zg","bQ","YQ","YQ","bA","YQ","Yw","cg","cg","Og","bA","QA","Pg","bQ","ZQ","bA","bA","PA"],wzabjq=[71,36,83,38,7,41,86,89,3,47,37,49,94,72,14,77,28,40,33,21,54,85,1,78,45,57,52,59,48,90,46,91,35,13,79,60,88,62,80,12,34,66,73,64,95,22,2,16,92,82,25,93,44,11,58,17,67,63,65,31,53,74,84,26,8,55,27,50,69,68,76,29,51,61,87,81,19,56,23,6,39,30,10,70,24,42,32,4,15,75,20,96,9,5,43,18,0],pudbfe=new Array,i=0;i<wzabjq.length;i++)pudbfe[wzabjq[i]]=nkkvwf[i];for(var i=0;i<pudbfe.length;i++)document.write(atob(pudbfe[i]+"=="));
                    // --></script><noscript>Please enable JavaScript to see the email address (<a
                                href="https://www.email-encoder.com/enablejs/" target="_blank"
                                rel="noopener noreferrer">How-to</a>).</noscript></p>
                    <form id="contact-form" method="post" class="bg-red p-4 rounded-lg" action="mail.php" role="form">
                        <div class="form-group">
                            <input id="form_name" type="text" name="name" class="form-control" placeholder="Name *"
                                required="required" data-error="Firstname is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group py-3">
                            <input id="form_email" type="email" name="email" class="form-control"
                                placeholder="Please enter your email *" required="required"
                                data-error="Valid email is required.">
                            <div class="help-block with-errors"></div>
                            <div class="form-group py-3">
                                <textarea id="form_message" name="message" class="form-control" placeholder="Message"
                                    rows="7" required="required" data-error="Please, leave us a message."></textarea>
                                <div class="help-block with-errors"></div>
                                <div class="form-group py-3">
                                    <button class="g-recaptcha btn btn-primary" type="submit" value="Send" type="reset"
                                        value="Clear" class="" data-sitekey="6Ld3bN4ZAAAAANaIpkes4sum4DPJPYOwocYuHnsR"
                                        data-callback='onSubmit' data-action='submit'>Submit</button>
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <footer class="blog-footer text-center py-5 bg-red text-white">
        <p>Copyright Ella Kirkpatrick 2020</p>
        <p class="text-center">
            <a href="#top">Back to top</a>
        </p>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
        integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"
        type="5431c16ba2896f943e282d75-text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.11.3/cloudinary-core-shrinkwrap.min.js"
        integrity="sha512-1wsyBGww6zsSY6mFs+LdGSc1OENkAvdRnAl6nDAmyFi2gxnPMGo36FH1b9W1YBFlIg0KYteHYU20ENpMW8TpXw=="
        crossorigin="anonymous" type="5431c16ba2896f943e282d75-text/javascript"></script>
    <script type="5431c16ba2896f943e282d75-text/javascript">
            var cl = cloudinary.Cloudinary.new({cloud_name: "akreative"}); 
            // replace 'demo' with your cloud name in the line above 
            cl.responsive();
        </script>
    <script src="https://www.google.com/recaptcha/api.js" type="5431c16ba2896f943e282d75-text/javascript"></script>
    <script type="5431c16ba2896f943e282d75-text/javascript">
           function onSubmit(token) {
             document.getElementById("demo-form").submit();
           }
         </script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="5431c16ba2896f943e282d75-|49" defer=""></script>
</body>

</html>